* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .block {
    width: 50%;
    height: 400px;
    background: magenta;
    padding: 30px 5%;
    margin: 40px 20%;
    
    
    border: 5px solid black; */

    .box {
        margin: 5% 2%;
    }

    .item {
        padding: 5% 8%;
        border: 2px solid teal;
    }

    
    
    .item:nth-child(2) {
        margin: 2% 0;
        width: 550px;
    }
    .item:nth-child(3) {
        max-width: 750px;
    }
