* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
.main {
  max-width: 1440px;
  height: 1747px;
  background: #fff;  
}

.box_top {
  display: flex;
  justify-content: space-around;
    align-items: center;
    padding-left: 100px;
    padding-right: 120px;
}

.home {
  width: 106px;
  height: 56px;
  left: 6%;
  top: 2%;
  color: #000;
  font-family: Roboto;
  font-size: 36px;
}
.about {
  width: 104px;
  height: 56px;
  left: 25%;
  top: 2%;
  color: #000;
  font-family: Roboto;
  font-size: 36px;
}

.shop {
  width: 104px;
  height: 56px;
  left: 60%;
  top: 2%;
  color: #000;
  font-family: Roboto;
  font-size: 36px;
}
.contacts {
  width: 104px;
  height: 56px;
  left: 80%;
  top: 2%;
  color: #000;
  font-family: Roboto;
  font-size: 36px;
}

.about_2 {
  width: 134px;
  height: 45px;
  color: #000;
  font-family: Roboto;
  font-size: 36px;
  margin: 110px auto 65px;
}

.box_about {
  display: flex;
  justify-content: space-between;
  margin: auto 60px;
}

.text {
  width: 466px;
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  padding-top: 70px;
}

.shop_2 {
  width: 83px;
  height: 45px;
  color: #000;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  margin: 100px auto 56px;
}
.box_bottom {
  display: flex;
  justify-content: space-between;
  margin: 110px 60px 0 60px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.item_1 {
  height: 32px;
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  margin: 10px auto;
}
.item_1_1 {
  width: 202px;
  height: 46px;
  color: #000;
  font-family: Roboto;
  font-size: 14px; 
  margin-bottom: 30px;
}
.item_1_2 {
  width: 156px;
  height: 44px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item_2 {
  width: 181px;
  height: 32px;
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  margin: 10px auto;
  
}
.item_2_1 {
  width: 202px;
  height: 46px;
  color: #000;
  font-family: Roboto;
  font-size: 14px;
  margin-bottom: 30px;
}

.item_2_2 {
  width: 156px;
  height: 44px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item_3 {
  width: 181px;
  height: 32px;
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  margin: 10px auto;
  
}
.item_3_1 {
  width: 202px;
  height: 46px;
  color: #000;
  font-family: Roboto;
  font-size: 14px;
  margin-bottom: 30px;
}

.item_3_2 {
  width: 156px;
  height: 44px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item_4 {
  width: 181px;
  height: 32px;
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  margin: 10px auto;
  
}
.item_4_1 {
  width: 202px;
  height: 46px;
  color: #000;
  font-family: Roboto;
  font-size: 14px;
  margin-bottom: 30px;
}

.item_4_2 {
  width: 156px;
  height: 44px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
