*{
    margin: 0;
    padding: 0;
}
/* .redSquere{
    width: 200px;
    height: 200px;
    background-color: red;
} */

/* .pinkSquere {
    width: 200px;
    height: 200px;
    background-color: pink;
} */
/* .simpleSquere {
    width: 150px;
    height: 150px;
    background-color: blueviolet; */
/* } */
